.upload-images {

  .file-input-name {
    display: none;
  }

  .modal-dialog {
    width:800px;
  }

  div.info {

    position:relative;
    text-align:center;
    top:45%;
    width:100%;
    padding:0 15px;
    line-height: 1.333334;

  }

  .btn {
    border-radius:0;
  }

  form .form-group:last-child {
    margin-bottom:15px;
  }

  .fileupload-btn-dropzone {

    height:305px;
    border:1px solid #ccc;
    background-color:#F7F7F7;
    color:#c2c2c2;

    img {

      display: block;
      max-width: 100%;
      height: 293px;
      padding: 2px;
      margin: 0 auto;

    }

  }

  .fileupload-btn-dropzone {

    overflow:scroll;
    padding:13px 0 0 13px;

  }

  .fileupload-drop-over {
    background-color:#fafafa !important;
  }

  .fileupload-drop-over > * {
    display:none !important;
  }

  .fileupload-progress {

    margin-bottom: 1px;

    .progress {

      height:3px;
      margin-bottom:0;
      border-radius:0;
      background-color:#f7f7f7;

    }

  }

  .image {

    height:270px;
    line-height:270px;
    background-color:#f1f1f1;
    text-align:center;

    span {

      font-size:16px;
      font-weight:700;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;

    }

  }

  .thumbnail {

    height:267px;
    overflow:hidden;

  }

  .thumbnail > img,
  .thumbnail a > img {
    cursor: pointer;
    max-height: 260px;
  }

  div.loading {

    background: transparent asset-url('ant/images/loader.gif') no-repeat 50% 50%;
    text-align:center;
    font-size:13px;
    color:#000;
    line-height:96px;
    height:96px !important;
    width:100%;

  }

  div.error {

    background: transparent asset-url('ant/images/error.png') no-repeat 50% 50%;
    height:96px !important;
    width:100%;

  }

  .preview {

    position:relative;

    box-shadow: 1px 1px 15px #aaa;
    padding:0 0 3px 0;
    background-color:#fff;
    display: inline-block;
    vertical-align: middle;
    height:130px;
    width:112px;
    margin:0 13px 13px 0;

    div.cross {

      background: transparent asset-url('ant/images/cross.png') no-repeat 50% 50%;
      width:24px;
      height:24px;
      position:absolute;
      top: -7px;
      left: 94px;
      cursor: pointer;
      display: none;

    }

    div.cross:hover {
      box-shadow: 1px 1px 15px #aaa;
      border-radius: 70% 70%;
    }

    img {

      height: 96px !important;
      width: auto;
      max-width:96px;
      padding: 0px !important;

    }

    span {

      margin-top:10px;
      display: block;
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      color:#000;
      text-align:center;
      height:15px;
      padding:0 2px;

    }

  }

}